@tailwind base;
@tailwind components;
@tailwind utilities;


  
  body{
    overflow: hidden;
  }
  :root {
    --primary-color: theme('colors.primarycolor');
    --primarycolor: #687256;
    --graycolor: #767676;
    --blacktext: #0C0C0C;
    --satoshi-black: 'Satoshi_Black';
    --satoshiBlackItalic: 'Satoshi_Black_Italic';
    --satoshiBold: 'Satoshi_Bold';
    --satoshiBoldItalic: 'Satoshi_Bold_Italic';
    --satoshiItalic: 'Satoshi_Italic';
    --satoshiLight: 'Satoshi_Light';
    --satoshiLightItalic: 'Satoshi_Light_Italic';
    --satoshiMedium: 'Satoshi_Medium';
    --satoshiMediumItalic: 'Satoshi_Medium_Italic';
    --satoshiRegular: 'Satoshi_Regular';
    --newbolad:'Satoshiblod1';
}

@font-face {
    font-family: 'Satoshiblod1';
    src: url('./assets/fonts/Satoshi-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Satoshi_Black_Italic';
    src: url('./assets/fonts/Satoshi-BlackItalic.otf') format('truetype');
}

@font-face {
    font-family: 'Satoshi_Bold';
    src: url('./assets/fonts/Satoshi-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Satoshi_Bold_Italic';
    src: url('./assets/fonts/Satoshi-BoldItalic.otf') format('truetype');
}

@font-face {
    font-family: 'Satoshi_Italic';
    src: url('./assets/fonts/Satoshi-Italic.otf') format('truetype');
}

@font-face {
    font-family: 'Satoshi_Light';
    src: url('./assets/fonts/Satoshi-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Satoshi_Light_Italic';
    src: url('./assets/fonts/Satoshi-LightItalic.otf') format('truetype');
}

@font-face {
  font-family: 'Satoshi_Medium';
  src: url('./assets/fonts/Satoshi-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'Satoshi_Medium_Italic';
  src: url('./assets/fonts/Satoshi-MediumItalic.otf') format('truetype');
}
@font-face {
  font-family: 'Satoshi_Regular';
  src: url('./assets/fonts/Satoshi-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Zoho_Puvi_SemiBold';
  src: url('/fonts/Zoho_Puvi_SemiBold.ttf') format('truetype');
  font-style: normal;
}

body{
    /* font-family: 'Satoshi';
    @apply  font-zoho; */
    color: var(--blacktext);
    font-family: 'Satoshi_Regular', 'Zoho_Puvi_SemiBold', Arial, sans-serif;
    overflow: hidden;
}




/* sidebar css */

/* .sidebarlink_active
{
    background-color:var(--primarycolor);
    color: #fff;
}

.width_transition
{
    transition: width 0.3s ease-in-out;
}



.dropdown_list {
    min-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown_list.show {
    min-height:70px; 
    opacity: 1;
} */

.arrow {
    transition: transform 0.3s ease;
}

.arrow.down {
    transform: rotate(90deg); 
}

/* modal animation */

@keyframes slide-in  {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slide-in {
    animation: slide-in 0.3s ease-in-out;
  }


  /* Sidebar Styles */
.main-list {
  padding: 0;
  list-style: none;
}


.dropdown_list {
  transition: max-height 0.3s ease;
  overflow-y: auto;
}

.dropdown_list::-webkit-scrollbar {
  width: 6px;
}

.dropdown_list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main-list li {
    text-align: left;
  }
}

.rdt_TableCol_Sortable>div {
  white-space: break-spaces !important;
}

.recharts-responsive-container{
  margin-left: -220px !important;
  margin-top: 40px !important;
}

.recharts-default-legend{
  margin-left: 520px !important;
  margin-top: 20px !important;
}

.rdt_TableHeadRow{

justify-content: start !important;
min-height: 38px !important;

}


.rdt_TableCol{
 
justify-content: center !important;
z-index: 100 !important;  

  
}

.rdt_TableCell{

  justify-content: center !important;
 
}

.leadtable .rdt_TableCol:first-child{
    position: sticky;
    left: 0;
     margin-left: 1px;
    background: #F2F4F7;
    z-index: 9999 !important;

}
.leadtable .rdt_TableHead{
  z-index: 9 !important;
}


.leadtable .rdt_TableCell:first-child {
    position: sticky;
    left: 0;
    background: white;
    margin-left: 1px;
    z-index: 1;
}
/* .leadtable .rdt_TableCol:last-child{
    position: sticky;
    right: 0;
     background: #F2F4F7;
    width: 90px !important;
     margin-left: 1px;
   
    z-index: 9999 !important;

}

.leadtable .rdt_TableCell:last-child {
    position: sticky;
    right: 0;

    margin-left: 1px;
    z-index: 1;
} */
.rdt_TableHead{
  border: 1px solid #EAECF0 !important;


}
 


.rdt_TableRow{
  padding: 8px 0 !important;
  
}
/* .rdt_TableRow:hover{
  background: #F9FAFB !important;
} */

input[type="checkbox"] {
  color: #3b82f6;
  border-color: #d1d5db;
  height: 10px;
 
}


.input {
  @apply border border-gray-300 rounded-lg p-2 w-full text-gray-700 focus:outline-none ;
}

input::placeholder, select::placeholder,select, textarea::placeholder {
  color: #A1A1AA;
  font-size: 12px !important;
}



.rdt_Pagination{
  min-height: 50px !important;
  
}

.sc-bMTdWJ svg{
  margin-top: 6px !important;
  width: 16px !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

input,
select,
textarea {
  border: 1px solid #d1d5db; /* Tailwind border-gray-300 */
  border-radius: 0.375rem ; /* rounded-md ~ 6px */
  padding: 0.5rem 0.75rem ;
  width: 100%;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Hover state */
input:hover,
select:hover,
textarea:hover {
  border-color: #60a5fa; /* Tailwind blue-400 */
}

/* Focus state */
input:focus,
select:focus,
textarea:focus {
  border-color: #3b82f6; /* Tailwind blue-500 */
  box-shadow: 0 0 0 0.5px #3b82f6; /* Tailwind ring-blue-500 */
}
input:focus-visible , select:focus-visible, textarea:focus-visible {
    outline :0;
}

input:in-range , select:in-range, textarea:in-range {
    outline :0;
}
:focus-visible {
    outline: 0;
}


input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none; /* Optional: removes the ring-style focus in some browsers */
}



.rdt_TableRow:last-child .lead-dropdown {
    top: -4pc;
}